.socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    li {
        margin: 0 .5rem 0 0;
        padding: 0 !important;  
        a {
            i {
                font-size: 24px;
                color: #fff;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .socials {
        display: flex;
    }
}

.socials-footer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
        margin: 0 .5rem 0 0;
        padding: 0 !important;  
        a {
            i {
                font-size: 24px;
                color: #000;
            }
        }
    }
}