---
import Layout from "../layouts/Layout.astro";
import { clubinstructors } from "../data/ClubInstructors";
---
<Layout title="Club Instructors">
    <section class="inner-page">
        <div class="container">
            <br /><br /><br /><br />
            <h1>Club Instructors</h1>
            <p>
              Meet our Club Instructors of Great Britain Tang Soo Do
            </p>
            
            <div class="row">
                {clubinstructors.map((ci) => (
                  <div class="col-6 col-lg-2 col-md-4 col-sm-4 align-items-stretch">
                  <div class="member">
                    <div class="member-img">
                      <img
                        src={ci.img}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <h4>{ci.name}</h4>
                      <span>{ci.region ? ci.region : "" }</span>
                      <span>{ci.title ? ci.title : <br /> }</span>
                    </div>
                  </div>
                </div>
                ))}
        
              </div>
        </div>
    </section>
</Layout>