---
import Layout from "../layouts/Layout.astro";
import ClubFilter from "../components/ClubFilter.jsx";
---

<Layout title="homepage">
    <section class="inner-page">

        <div class="page-heading">
            <h1>Clubs</h1>
            <p>
                Please select a region for your nearest club :
            </p>
            <ClubFilter client:load />
          </div>


        <div class="container"></div>
    </section>
</Layout>