---
import Layout from "../layouts/Layout.astro";
import ClubFilter from "../components/ClubFilter.jsx";
---

<Layout title="homepage">
    <section class="inner-page">
        <div class="container">
            <br /><br /><br /><br />
            <h1>Clubs</h1>

            <ClubFilter client:load />
            </div>
    </section>
</Layout>