---
import Layout from "../layouts/Layout.astro";
import InstagramFeed from '../components/InstagramFeed.astro';
---
<Layout title="homepage">
    <section class="inner-page">
        <div class="container">
            <br /><br /><br /><br />
            <h1>Gallery</h1>

            <InstagramFeed />
            </div>

     
    </section>
</Layout>