---
import Layout from "../layouts/Layout.astro";
---
<Layout title="homepage">
    <section class="inner-page">
        <div class="container">
            <br /><br /><br /><br />
            <h1>Gallery</h1>


            <div class="swiper-container slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                </div>
            </div>
            
            <div class="swiper-container slider-thumbnail">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="https://gbtsda.com/assets/img/gallery/clinics/tsd6.jpg" alt=""></div>
                </div>
            </div>


        </div>
    </section>


    <script>
       import Swiper from 'swiper/bundle';
       import 'swiper/css/bundle';

        const sliderThumbnail = new Swiper('.slider-thumbnail', {
        slidesPerView: 6,
        freeMode: true,
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
        });

        //スライダー
        const slider = new Swiper('.slider', {
        autoHeight: true,
        spaceBetween: 0,
        thumbs: {
            swiper: sliderThumbnail
        }
        });
    </script>
</Layout>