---

import Layout from "../layouts/Layout.astro";
import Masters from "../components/Masters.astro";
//import type { Navigation } from "../data/Navigation";

// interface Props {
//   navigation: Navigation,
// }
// const { navigation } = Astro.props;

---

<Layout title="homepage">

      <section id="hero">
        <div class="hero-container">

          <h1>Great Britain <br />Tang Soo Do</h1>

          <!-- <h3>Great Britain Tang Soo Do</h3>
          <h1>The Ultimate Self-Defense Training</h1>
          <h2>
            Ancient Korean Martial Arts for men, women & children across the globe
          </h2>
          <a href="#history" class="btn-get-started scrollto">Our Art</a> -->
        </div>

        <video width="100%" height="100%" autoplay="autoplay" loop="loop" muted playsinline  oncontextmenu="return false;"  preload="auto">
          <source src="https://worldtangsoodo.com/wp-content/uploads/2019/12/WTSD_Seq1_v04_compressed.mp4" type="video/mp4">
        </video>

      </section>

      <!-- ======= About Section ======= -->
      <section id="history" class="about">
        <div class="container">
          <div class="section-title">
            <h2>History</h2>
            <h3>History of <span>Tang Soo Do</span></h3>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <img src="assets/img/shin-monks.png" class="img-fluid" alt="" />
              <small
                >Chief Monk Hang Jung welcomes Grandmaster Shin, Shaolin Temple,
                China 1984</small
              >
            </div>
            <div class="col-lg-4">
              <p>
                In 1968 Master Jae Chul Shin came to the United States of
                America as the U.S. representative for the Korean Soo Bahk Do
                Association. He formed the United States Tang Soo Do Federation
                in Burlington, New Jersey. The organization expanded to all
                parts of America and foreign countries. This traditional and
                classical art was quickly accepted and soon grew in popularity
                throughout America and the world. After 14 years of Tang Soo Do
                promotion in the U.S.A. and the world, the organisation was
                re-organised to fit new demands internationally and
                domestically. On November 13th 1982, a charter convention for
                the World Tang Soo Do Association was held in Philadelphia,
                Pennsylvania. At the charter convention a new constitution was
                passed, a new logo and insignia were selected, the uniform and
                belt system were revised, and new organizational standards were
                adopted. Most importantly, Master Jae C. Shin was recognised as
                Grandmaster of the World Tang Soo Do Association. With the
                proclamation of three mottos, Traditionalism, Professionalism
                and Brotherhood, the advent of the World Tang Soo Do Association
                evoked the interest of many international martial artists, whose
                genuine interest was in the Art, and was not sports oriented.
              </p>
            </div>
            <div class="col-lg-4">
              <img src="assets/img/shin-chuck.png" class="img-fluid" alt="" />
              <small
                >Chuck Norris greets Grandmaster Shin, his first instructor,
                Hollywood, CA 1985</small
              >
              <h5 class="red">Seven <span>Tenets</span></h5>
              <ul>
                <li><i class="ri-check-double-line"></i> Integrity</li>
                <li><i class="ri-check-double-line"></i> Concentration</li>
                <li><i class="ri-check-double-line"></i> Perseverance</li>
                <li>
                  <i class="ri-check-double-line"></i> Respect and Obedience
                </li>
                <li><i class="ri-check-double-line"></i> Self Control</li>
                <li><i class="ri-check-double-line"></i> Humility</li>
                <li><i class="ri-check-double-line"></i> Indomitable Spirit</li>
              </ul>
            </div>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <img src="assets/img/shin-2.png" class="img-fluid" alt="" />
              <small>Grandmaster Shin at the Shaolin Monastery, 1984</small>
            </div>
            <div class="col-lg-4">
              <p>
                In the past three decades, the Association has expanded from 17
                member studios to 400 plus, from 164 charter members to over
                150,000 members. As of 2010, the following global locations are
                training under the banner of the World Tang Soo Do Association;
                Argentina, Australia, Belgium, Brazil, Bolivia, Bulgaria,
                Canada, China, Chile, Columbia, Costa Rica, Czechoslovakia,
                England, Germany, Greece, Guam, Holland, India, Italy, Korea,
                Mozambique, Mexico, Pakistan, Peru, Philippines, Poland, Puerto
                Rico, Rumania, Russia, Seychelles, South Africa, Saudi Arabia,
                Sweden, Uruguay and the U.S.A. For the purpose of guidance and
                regional management, there are 21 region which make up the World
                Tang So Do Association. The martial art of Tang Soo Do is
                relatively modern, but it's roots lie in the ancient Korean art
                of Soo Bahk Do, which can be traced back many centuries. Tang
                Soo Do is a style composed from three major areas and styles,
                which are Soo Bahk Do (60%), Northern China Kung Fu (30%) and
                Southern China Kung Fu (10%) Literally translated, the word TANG
                means T'ang Dynasty of China which reflects the shared cultural
                background between China and Korea. SOO means hand, but it
                implies fist, punch, strike or defence. DO means way of life or
                art. Thus TANG SOO DO means the korean classical martial art
                which was influenced by the T'ang method of martial art. The
                final translation can be put together as the rather poetical -
                WAY OF THE CHINA HAND
              </p>
            </div>

            <div class="col-lg-4 pt-4 pt-lg-0">
              <img src="assets/img/shin-kick.png" class="img-fluid" alt="" />
              <small>Grandmaster Shin's flying side kick, 1958</small>

              <h5 class="red">Five <span>Codes</span></h5>
              <ul>
                <li><i class="ri-check-double-line"></i> Loyalty to country</li>
                <li>
                  <i class="ri-check-double-line"></i> Obedience to parents
                </li>
                <li><i class="ri-check-double-line"></i> Honor friendship</li>
                <li>
                  <i class="ri-check-double-line"></i> No retreat in battle
                </li>
                <li>
                  <i class="ri-check-double-line"></i> In fighting choose with
                  sense and honor
                </li>
              </ul>

              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
          </div>
        </div>

        <div class="container"></div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <h3>Our three <span>aims</span></h3>
            <p>
              Tang Soo Do is one of the oldest martial art systems and as part
              of the World Tang Soo Do Association we have three aims:
            </p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-shield-minus"></i></div>
                <h4 class="title"><a href="">Self Defence</a></h4>
                <p class="description">
                  To protect our lives, families and possessions from injustice
                  and danger
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-health"></i></div>
                <h4 class="title"><a href="">Health</a></h4>
                <p class="description">
                  To promote our physical and spiritual health and enjoy strong
                  bodies and sound minds through rigorous training
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-happy"></i></div>
                <h4 class="title"><a href="">Better Person</a></h4>
                <p class="description">
                  To strive to be of better character through endurance and hard
                  work
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="cta" class="cta">
        <div class="container">
          <div class="text-center">
            <h3>Find your nearest club</h3>
            <p>
              Gain self-discipline, self-confidence, physical fitness, stress
              management and the ultimate form of self-defense techniques.
            </p>
            <a class="cta-btn" href="/clubs">Find a club</a>
          </div>
        </div>
      </section>
      <section id="grandmasters" class="team">
        <div class="container">
          <div class="section-title">
            <h2>Grandmasters</h2>
            <h3>Our <span>Grandmasters</span></h3>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <h3></h3>
              <img src="assets/img/gmaster/shin.png" class="img-fluid" alt="" />
              <small>Kwan Chang Nim Jae Chul Shin, Founder</small>
            </div>
            <div class="col-lg-4">
              Grandmaster Jae C. Shin, the founder of the World Tang Soo Do
              Association, was one of the leading figures of martial arts in the
              world today. Sadly Grandmaster Shin passed away on Monday 9th July
              2012. He has left us a legacy, his dream, the World Tang Soo Do
              Association which we now have to nurture, promote and continue to
              build. He was born in Korea in 1936, and began his long and
              distinguished career in martial arts at the age of twelve. During
              his childhood, an unknown monk initially inspired in him a strong
              desire to learn martial arts. Later, he joined Seoul Moo Duk Kwan
              central gym and began serious study under Grandmaster Hwang Kee, a
              founder of the Korean Moo Duk Kwan system. By the time he was 1st
              Dan, he had already started his teaching career as an assistant
              instructor at the central gym. After that, he taught at Korean
              University, Seoul Central YMCA, various colleges, and many police
              and military institutions. His many years of teaching experience
              and his extreme dedication have added to his scientific and unique
              methods of teaching Tang Soo Do. His six fields of expertise
              include self-defence, forms, breaking, weapons, health care, and
              meditation. He has evolved these separate arts into one of the
              finest and most effective martial arts; The World Tang Soo Do
              system. When he was recruited to the Korean Air Force in 1958, he
              had his first experience teaching American soldiers. After
              receiving his Master's degree in Political Science at Korea
              University, he came to the United States in order to extend his
              instruction of foreign students in 1968.
            </div>
            <div class="col-lg-4">
              <p>
                The year he came to the United States of America, Black Belt
                Magazine honoured him for all time by devoting a full chapter to
                him in the book, "20th Century Warriors," putting him in the
                company of the most legendary martial arts figures ever.
                Grandmaster Shin, one of the most respected and well known
                masters in this century, is one of the few masters who has
                devoted his entire life to the traditional martial arts. In
                addition to insisting on disciplined, rigorous training and
                exacting techniques, he has always preached that the true value
                of martial arts training is in the application to everyday life.
                Teaching children is one of his favourite pastimes and he has
                become an expert in child development. His advice to his Black
                Belt instructors is good advice for teachers of all kinds, "When
                examining your abilities as an instructor, examine your young
                student's manners, attitudes, school reports and health
                conditions. Their improvements should mirror your own." He
                raised three Mottoes for his leadership of nearly 8,000 black
                belt members: TRADITIONALISM, PROFESSIONALISM AND BROTHERHOOD
                and he brings these qualities with him wherever he travels and
                teaches. Grandmaster Shin is respected as a true leader, teacher
                and master of masters. On July 17th 2010 Grandmaster Shin
                received his ninth Dan, following a proclamation containing
                100,000 signatures of W.T.S.D.A. members. This took place at a
                very moving ceremony during the 2010 World Championships, which
                some of us were fortunate enough to attend. Not only did
                Grandmaster become ninth Dan but Master Beaudoin was also
                presented with his eight Dan at the same ceremony.
              </p>
            </div>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <h3></h3>
              <img src="assets/img/gmaster/bob.png" class="img-fluid" alt="" />
              <small>Kwan Chang Nim Robert E Beaudoin, Presidennt</small>
            </div>
            <div class="col-lg-4">
              Grandmaster Robert E. Beaudoin started his study of the Martial
              Arts in 1960-61 while in the U.S. Air Force studying Chinese at
              Yale University. He earned his Black Belt under Master Jae Chul
              Shin while in Korea in 1962-63. Dr. Beaudoin taught thousands of
              students in the Waterbury area for more than thirty-five years and
              promoted over three hundred Black Belts and ten Masters. His
              students have been from all professions and walks of life, and
              from four to seventy years old. Grandmaster Beaudoin taught many
              of his own classes including Tiny Tigers, Little Dragons, Advanced
              Children and Cho Dan Bos, as well as the Black Belt Excellence
              class. He also conducted the Masters Forum and special clinics...
            </div>
            <div class="col-lg-4">
              <p>
                On July 17th 2010, following a proclamation signed by over
                100,000 members of the World Tang Soo Do Association, and after
                28 years as head of our association, Grandmaster Shin accepted
                the honour of ninth Dan at a special ceremony held at the World
                Championships in Greensboro North Carolina. Making way for
                Master Beaudoin to be promoted to 8th Dan Grandmaster. On July
                9, 2012, Grandmaster Beaudoin assumed the role of Grandmaster
                and Interim President of the World Tang Soo Do Association after
                the passing of our founder Grandmaster J C Shin. He presided
                over the opening of our own headquarters, fulfilling Grandmaster
                J C Shin's dream. He continued in this role with great
                dedication until his sudden passing in early 2020. He was due to
                be promoted to 9th Dan Grandmaster at a ceremony later that year
                at the World Championships but received the honour posthumously
                with the iconic black and red belt being presented to his
                family. Grandmaster Strong took over as the lead of the
                association at that time.
              </p>
            </div>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <h3></h3>
              <img
                src="assets/img/gmaster/strong.jpg"
                class="img-fluid"
                alt=""
              />
              <small>Kwan Chang Nim William "Bill" Strong, President</small>
            </div>
            <div class="col-lg-4">
              Grandmaster Strong began his martial arts training in Tae Kwon Do
              through the Jhoon Rhee Institute in Austin, Texas when he was an
              undergraduate student at the University of Texas. He received his
              1st Dan from the Alabama Karate Institute in 1974 and his 2nd Dan
              from the Kuk Ki Won in 1977, both in Tae Kwon Do. He achieved his
              3rd and 4th Dan from the Korean Tang Soo Do Association, Moo Duk
              Kwan, Hwang Kee, President in 1981 and 1983 respectively. In 1986,
              he joined the World Tang Soo Do Association and achieved 5th
              through 7th Dan promotions from Grandmaster Jae C. Shin and 8th
              Dan from Grandmaster Robert Beaudoin in 2014. On October 10, 2021
              Grandmaster Strong was promoted to 9th Dan.
            </div>
            <div class="col-lg-4">
              <p>
                On April 1, 2017 at the 28th Annual Masters’ Clinic, the Board
                of Directors voted to approve Grandmaster William Strong as the
                President of the World Tang Soo Do Association. He began the
                presidency on May 15, 2017. In this position, he is responsible
                for numerous administrative duties for the Association and the
                WTSDA Foundation including general headquarters office policy,
                studio/club approval, coordination of travel for the two
                Grandmasters, Dan promotions, financial reporting, legal issues,
                Board meetings, and World Championships. He is also responsible
                for diplomatic issues, organizing publications, and sanctioning
                WTSDA events. Grandmaster Strong served as the chair of the
                Membership committee 1987-1990, Technical Advisory Coordinator
                1990-1995, chair of the Technical Advisory committee 1995-2014,
                and Director of Masters’ Clinics 1991-2014. He is also Secretary
                General of the WTSDA and member of the Board of Directors,
                Executive Committee, Governance Committee, and Publications
                Committee. He was promoted to 8th Dan Grandmaster at the 2014
                World Championships. Grandmaster Strong received his Ph.D. in
                Geography from the University of Texas at Austin. He served as
                professor and chair of the Department of Geography at the
                University of North Alabama for 42 years, interim vice-president
                for Academic Affairs for one year, and worked at the National
                Geographic Society as Geographer-in-Residence for two years. He
                retired from the University of North Alabama in 2012. Since then
                he has worked closely with Grandmaster Robert Beaudoin to give
                greater support to the promotion and enhancement of the World
                Tang Soo Do Association and its membership.
              </p>
            </div>
          </div>

          <div class="row content">
            <div class="col-lg-4">
              <h3></h3>
              <img
                src="assets/img/masters/1.jpg"
                class="img-fluid"
                alt=""
              />
              <small>Boo Kwan Chang Nim M Khan, Grandmaster</small>
            </div>
            <div class="col-lg-4">
              Boo Kwan Chang Nim Mujahid Khan is currently recognised as a 8th Dan (Pal dan 팔단) Instructor in the World Tang Soo Do Association. He has been training in the Martial Arts for over 50+ years and has received many awards, including Instructor of the year 1987 and many other commendations and appreciation awards from the Association

              Master Khan is the regional director for region #11, which encompasses Western Europe. He is married with three children. The whole family practises Tang Soo Do. His wife Dawn is a Oh Dan Master, daughter Noreen is also an Oh Dan Master, daughter Aisha is a Sah dan Master, and the newest recruit, youngest daughter Safiya is an E dan.
              
              "I teach every class myself, from basic warm-ups to the end of class", says Master Khan. "I feel that students pay for my instruction and they should receive it".
              
              Some of Master Khans favourite quotes are :
              
              "Nothing is too difficult for a sound mind"
              
              "Tang Soo Do IS NOT a destination, it is journey"
              
              My name is Mujahid Khan and I was born in Kashmir, Pakistan. I came to live in England in October 1970 when my parents emigrated here. My current rank is Pal Dan. I received my Master's belt in July 1989 in Holland at the European Championship that year. I was honoured to be presented my Master rank in front of all the European members. It was a privilege to have it presented to me by Grandmaster Shin. The feeling was indescribable, as I was the first European Master in WTSD at the time. It was a dream that I never thought would become reality!
              
              I am the currently the European Director for Region #11 which covers all of Western Europe. I am also the Chief Instructor for Great Britain TSD. I run my own studios in Alconbury (An American Air Force Base) Huntingdon and St.Ives. All my studios are in the Cambridgeshire area. I am married with 3 daughters. My wife Dawn is an Oh Dan Master, my eldest daughter Noreen is also an Oh Dan Master, Aisha is now a Sah Dan Master and our youngest, Safiya is an E Dan. We go as a family to teach and train EVERYDAY! Dawn, Aisha and Safiya assist me regularly in teaching my classes as well as practicing TSD for themselves.
              

       
            </div>
            <div class="col-lg-4">
              <p>I started TSD in early 1974 in a village called Buckden in Cambridgeshire. A friend of mine whom I worked with was practicing TSD and introduced me to it. My first instructor was an American serviceman by the name of Stephen Coleman. He was a 2nd Dan in TSD. I remember him well. He is a very big man with OUTSTANDING Martial Arts ability.
              </p>
              <p>I hold various different fund-raising events mainly in aid of the World Headquarters Building Fund. The most unique one I have held is an auction to raise money for the Headquarters Fund. I auctioned my personal belongings, some that were VERY sentimental, like my 5th Dan Master's Sword that I received during my promotion ceremony. I have also auctioned my Master's belt and some other special items. One which I'll never forget is the dobohk I wore in the making of Kwan Chang Nim's Volume 3 Book-DAE RYUN. We raised over $7000.00 at this one AUCTION!!
              </p>
              <p>
                Lastly I would like to share a few of my personal beliefs. They are that the success to Martial Arts is to persevere and not to look back. Remember too that you only get out of your training what you PUT INTO IT!! Success comes through a positive mind. Always try to be positive in whatever you may do and you will one day achieve your goals.
         
              </p>
            </div>
          </div>
        </div>
      </section>

      <Masters />
  
</Layout>


