---
import Layout from "../layouts/Layout.astro";
---

<Layout title="information">
    <section class="inner-page">

        <div class="page-heading">
            <h1>Information</h1>
        </div>

        <div class="container"></div>
    </section>
</Layout>