---
import Layout from "../layouts/Layout.astro";
import { instructors } from "../data/Instructors";
---
<Layout title="Club Instructors">
    <section class="inner-page team">

      <div class="page-heading">
          <h1>Instructors</h1>
          <p>
            Meet our Instructors of Great Britain Tang Soo Do
          </p>
      </div>

        <div class="container">


            <div class="row">
                {instructors.map((instructorItem) => (
                  <div class="col-6 col-lg-2 col-md-4 col-sm-4 align-items-stretch">
                  <div class="member">
                    <div class="member-img">
                      <img
                        src={instructorItem.img}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <h4>{instructorItem.name}</h4>
                      <span>{instructorItem.region ? instructorItem.region : "" }</span>
                      <span>{instructorItem.title ? instructorItem.title : <br /> }</span>
                    </div>
                  </div>
                </div>
                ))}
        
              </div>
        </div>
    </section>
</Layout>