---
import Layout from "../layouts/Layout.astro";
import { memorium } from "../data/Memorium";
---
<Layout title="Club Instructors">
    <section class="inner-page team">
        <div class="container">
            <br /><br /><br /><br />
            <h1>Memorium</h1>
            <p>
              Honoring the legacy of our fallen masters, their wisdom lives on in every lesson and memory they left behind.
            </p>

            <div class="row">
                {memorium.map((memoriumItem) => (
                  <div class="col-12 align-items-stretch">
                  <div class="member">
                    <div class="member-img">
                      <img
                        src={memoriumItem.img}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <h4>{memoriumItem.name}</h4>
                      <span>{memoriumItem.region ? memoriumItem.region : "" }</span>
                      <span>{memoriumItem.title ? memoriumItem.title : <br /> }</span>
                    </div>
                  </div>
                </div>
                ))}
        
              </div>
        </div>
    </section>
</Layout>