---
import Layout from "../layouts/Layout.astro";
import { retiredinstructors } from "../data/RetiredInstructors";
---
<Layout title="Club Instructors">
    <section class="inner-page team">

      <div class="page-heading">
          <h1>Retired Instructors</h1>
      </div>

        <div class="container">
            
            <div class="row">
                {retiredinstructors.map((retiredinstructorsItem) => (
                  <div class="col-6 col-lg-2 col-md-4 col-sm-4 align-items-stretch">
                  <div class="member">
                    <div class="member-img">
                      <img
                        src={retiredinstructorsItem.img}
                        class="img-fluid"
                        alt=""
                      />
                    </div>
                    <div class="member-info">
                      <h4>{retiredinstructorsItem.name}</h4>
                      <span>{retiredinstructorsItem.region ? retiredinstructorsItem.region : "" }</span>
                      <span>{retiredinstructorsItem.title ? retiredinstructorsItem.title : <br /> }</span>
                    </div>
                  </div>
                </div>
                ))}
        
              </div>
        </div>
    </section>
</Layout>