---
import Layout from "../layouts/Layout.astro";
---

<Layout title="testing">
    <section class="inner-page">

        <div class="page-heading">
            <h1>Testings</h1>
        </div>

        <div class="container">
        </div>
    </section>
</Layout>