---
import { masters } from "../data/Masters";
//console.log(masters)
---

<section id="masters" class="team">
    <div class="container">
      <div class="section-title">
        <h2>Masters</h2>
        <h3>Our Great Britain <span>Masters</span></h3>
        <p>
          Meet our active Masters of Great Britain Tang Soo Do
        </p>
      </div>

      <div class="row">
        {masters.map((mastersItem) => (
          <div class="col-6 col-lg-2 col-md-4 col-sm-4 align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img
                src={mastersItem.img}
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="member-info">
              <h4>{mastersItem.name}</h4>
              <span>{mastersItem.region ? mastersItem.region : "" }</span>
              <span>{mastersItem.title ? mastersItem.title : <br /> }</span>
            </div>
          </div>
        </div>
        ))}

      </div>
    </div>
  </section>