<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
 
          <div class="col-lg-2 col-md-6 footer-links order-md-3">
            <h4>Quick Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/news">News</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/clubs">Clubs</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#history">History</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/gallery">Gallery</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-1 col-md-1 order-md-2"></div>

          <div class="col-lg-2 col-md-6 footer-links order-md-4">
            <h4>Information</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/events">Events</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/results">Results</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/schedule">Schedule 2025</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="/clinics">Clinics</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="/safeguarding">Safeguarding</a>
              </li>
            </ul>
          </div>




          
          <div class="col-lg-6 col-md-5 footer-newsletter order-md-1">
            <h4>Get in touch</h4>
            <small>
              2024 © The information/content within the pages of the GBTSD Martial Arts web site is the sole property of GBTSD and the World Tang Soo Do Association. The images and information contained herein may not be reproduced without the express written permission of GBTSD and the World Tang Soo Do Association.
            </small>
            <p><a title="Mail the Webmaster" href="mailto:webmaster@gbtsda.com?subject=Website%20Enquiry" class="C-2"><span class="icon-envelope"></span> GBTSDA Webmaster</a></p>
          </div>

          <div class="col-lg-1 col-md-1 order-md-5">
            <ul class="socials-footer">
              <li><a href="https://www.facebook.com/gbtsda/" target="_blank"><i class='bx bxl-facebook-square' ></i></a></li>
              <li><a href="https://www.instagram.com/gb_tang_soo_do/" target="_blank"><i class='bx bxl-instagram' ></i></a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>
</footer>

<a
href="#"
class="back-to-top d-flex align-items-center justify-content-center"
><i class="bi bi-arrow-up-short"></i
></a>