---
import { naviData } from "../data/Navigation";
import Navigation from "../components/Navigation.astro";
---

<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><a href="/">Great Britain Tang Soo Do</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          {naviData.map((navigation) => <Navigation {navigation} />)}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>